.main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 635px;
}
.main_fondo {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 569px;

  background: url(../../images/nintend\ g.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_cuadro_superior {
  position: absolute;
  width: 100%;
  max-width: 1500px;

  height: 47.93px;
  left: 0px;
  background: var(--variable-color-fondo-blanco);
  opacity: 0.2;
}
.main_cuadro_medio {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 358px;

  /* top: 2179px; */
  opacity: 0.1;
  background: var(--variable-color-fondo-negro);
}
.main_cuadro_reslte {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  max-width: 1078px;
  height: 179.1px;
  left: 422px;
  top: 390px;

  border-width: 20px 0px 0px 12px;
  border-style: solid;
  border-color: var(--variable-color-fondo-blanco);
}
.main_linea {
  /* Line 1 */

  position: absolute;
  width: 100%;
  max-width: 1052.01px;

  height: 0px;
  left: 434px;
  top: 515px;

  border: 1px solid #ffffff;
  transform: rotate(-0.22deg);
}
.main_text_fin {
  /* TodoVideoGames Perú ® 2023 All rights reserved */
  position: absolute;
  width: 100%;
  max-width: 436px;
  height: 19.16px;
  left: 729px;
  top: 530px;

  font-family: "Black Ops One";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--variable-color-fondo-blanco);
}
@media (max-width: 768px) {
  .main {
    width: 100%; /* Cambiar el ancho a 100% */
    height: auto; /* Altura automática para adaptarse al contenido */
  }

  .main_fondo {
    width: 100%; /* Cambiar el ancho a 100% */
    max-height: 285px; /* Ajustar la altura según tu diseño */
    left: 0; /* Alinear a la izquierda */
    top: 0; /* Alinear arriba */
    background-size: cover;
  }

  .main_cuadro_superior {
    width: 100%;
    max-width: 650px;
    max-height: 30px;
  }
  .main_cuadro_medio {
    width: 100%;
    max-width: 650px;
    max-height: 150px;
    top: 30px;
  }
  .main_cuadro_reslte {
    position: relative;
    top: 200px;
    left: 100px;
    max-height: 105px;
  }
  .main_linea{position: relative;
    width: 100%;
    max-width: 456.01px;
    height: 0px;
    left: 434px;
    top: 150px;
    border: 1px solid #ffffff;
    transform: rotate(-0.22deg);
    left: 100px;
}
  .main_text_fin {
    position: absolute;
  width: 100%;
  max-width: 436px;
  height: 19.16px;
  left: 50px;
  top: 263px;
  font-family: "Black Ops One";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--variable-color-fondo-blanco);
  }
}
