.main{

    position: relative;
    width: 1500px;
    height: 2100px;
    background: var(--variable-color-fondo-negro);
}
.main_fondo{
    position: absolute;
    width: 1500px;
    height: 2100px;
    
   
    background: url(../../images/resident\ 3.jpg);
    /* opacity: 0.91; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_titulo_caja{
    position: absolute;
    width: 1500px;
    height: 220px;
    left: 0px;
    top: 117px;
    /* background: rgb(2,0,36); */
    background: linear-gradient(180deg, rgba(2,0,36,1) 32%, rgba(27,43,147,1) 50%, rgba(1,12,27,1) 72%, rgba(9,59,76,1) 96%);
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.91;

}
.main_titulo_texto{
 /* Vista General */
    font-family: var(--variable-font-familia);
    font-size: 80px;
    line-height: 100px;
    color: var(--variable-color-fondo-blanco);
}
.main_titulo_texto2{
    font-family: var(--variable-font-familia);
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: var(--variable-color-fondo-blanco);
    justify-content: center;
}
.cuerpo_ordenamiento{
    position: absolute;
    width: 1152px;
    height: 80px;
    left: 327px;
    top: 440px;
    background: var(--variable-color-fondo-gris);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    opacity: 0.81;
}
.cuerpo_filtros{
/* Filtros */
    box-sizing: border-box;
    position: absolute;
    width: 291px;
    height: 1570px;
    left: 15px;
    top: 440px;
    background: var(--variable-color-fondo-gris);
    opacity: 0.81;
    border: 5px solid var(--variable-color-fondo-blanco);
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0px 0px;
}

.cuerpo_tarjetas{
    box-sizing: border-box;
    position: absolute;
    width: 1152px;
    height: 1490px;
    left: 327px;
    top: 520px;
    background: var(--variable-color-fondo-gris);
    opacity: 0.91;
    border: 5px solid var(--variable-color-fondo-gris);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    /* padding: 5px; */
}
.cuerpo_navegacion{

    box-sizing: border-box;
    position: absolute;
    width: 1464px;
    height: 77px;
    left: 15px;
    top: 350px;
    background: var(--variable-color-fondo-gris);
    border: 5px solid var(--variable-color-fondo-blanco);
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 8px;
}

.cuerpo_navegacion_botones{
    width: 463px;
    height: 57px;
    background: var(--variable-color-fondo-gris);
    display: flex;
    /* border: 5px solid var(--variable-color-fondo-blanco); */
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: space-evenly;
    align-items: center;
}

/*  */